// variable scss
//nesting

$color: rgb(9, 9, 110);

h1{
    color: $color;
    font-style: italic;
    text-align-last: center;
    font-weight: bold;
    background-image: url(pics/it2bg.jpg);
}
h3{
    color: $color;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:oblique;
    
   
}
h2{
    font-size: medium;
    font-weight: 800;
}

    

