<html>
    <head>
        <title>My Website!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <style> 
            body {
                background-color:skyblue;
                margin-left: 20%;
                margin-right: 20%;
            }
            h1,h2 {
                text-align: center;
            }
            td{
                text-align: center;
            }
            th {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>Book Details</h1>
        &emsp;
        <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Details</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
                {% for book in data %}
            <tr>
                <td>ISBN</td>
                <td>{{book.isbn}}</td>
            </tr>
            <tr> 
                <td>Title</td>
                <td>{{book.tittle}}</td>
            </tr>
            <tr> 
                <td>Author</td>
                <td>{{book.author}}</td>
            </tr>
            <tr> 
                <td>Published</td>
                <td>{{book.year}}</td>
            </tr>
            {% endfor %}      
            </tbody>

            {% for item in result %}
                {{item.isbn}}
                {{item.email}}
                {{item.rating}}
                {{item.review}}
            {% endfor %}


            <form action="{{ url_for('review') }}" method="POST">
                <div class="form-group">
                    <label for="Rating">Rating:</label>
                    <select class="form-control" name="review_tags" id="SearchType">
                        <option value="None">None</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <input type="text" placeholder="Comment here" name="review_value" required style="width: 25%; margin-top: 20px;">
                    <button type="submit" name = "{{isbn_id}}" form-action="search" class="searchbtn" value="searching">Submit</button><br>
                </div>
            </form>
            {% if message %}
            {{ message }}
            {% endif %}
            <br>
            <br>
            {% if message1 %}
            {{message1}}
            {% endif %}
            <br>
        {% if total_reviews %}
            {% for k in total_reviews%}
                <div class="reviews">
                    <table>
                    <tr>
                        <th>Email</th>
                        <th>Rating</th>
                        <th>Review</th>
                    </tr>
                    <tr>
                        <td> {{ k.email }}</td>
                        <td> {{ k.rating }}</td>
                        <td> {{ k.review }}</td>
                    </tr>
                    </table>
                </div>
            {% endfor %}
        {% endif %}










    </body>
</html>





