<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELCOME</title>
    <style>
        body{
            background-color: rgb(238, 192, 210);
        }
        h1{
            text-align: center;
            color: rgb(20, 31, 2);
            font-style: italic;
        }
        h2{
            color: brown;
            font-size: xx-large;
            text-align: center;
            font-weight: 900;


        }
    </style>
</head>
<body>
    <h1> Congratulations, your registration was successful..!!</h1>
    <p></p>
    <h2> Hi {{name}}</h2>
    <button type="submit" formaction="auth" value="Login">Login</button>

</body>
</html>