<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELCOME</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        body{
            background-color: rgb(238, 192, 210);
        }
        h1{
            text-align: center;
            color: rgb(20, 31, 2);
            font-style: italic;
        }
        h2{
            color: brown;
            font-size: xx-large;
            text-align: center;
            font-weight: 900;


        }
        .button{
            background-color: brown;

        }
    </style>
</head>
<body>
    <h1> Successfully logged in ..!</h1>
    <p></p>
    <p style="color:red;text-align: center;">{{message}}</p>
    <h2> Hello..</h2>
    <form action="/registration" class="inline">
        <button class="btn btn-primary" >Logout</button>
    </form>

</body>
</html>